notifications:
  email: false
language: c
compiler: gcc
env:
- SDK_URL=ftp://ftp.stw-bonn.de/pub/openwrt/chaos_calmer/15.05.1/kirkwood/generic/OpenWrt-SDK-15.05.1-kirkwood_gcc-4.8-linaro_uClibc-0.9.33.2_eabi.Linux-x86_64.tar.bz2
before_install:
- sudo apt-get install -y ccache
install:
- mkdir sdk && cd sdk
- curl $SDK_URL | tar -xj --strip-components=1
- ln -s $TRAVIS_BUILD_DIR/eiskaltdcpp $TRAVIS_BUILD_DIR/sdk/package/eiskaltdcpp
script:
- cd $TRAVIS_BUILD_DIR/sdk/build_dir/target-*/eiskaltdcpp-*/
- curl -LO http://sf.net/projects/eiskaltdcpp/files/Other/boost.tar.gz
- cd $TRAVIS_BUILD_DIR/sdk
- "./scripts/feeds update packages"
- "make package/{libiconv,zlib,bzip2,gettext,openssl}/{configure,install}"
- "make package/eiskaltdcpp/download V=99 "
- "make package/eiskaltdcpp/prepare V=99"
- "make package/eiskaltdcpp/compile V=99"
- ls -la $TRAVIS_BUILD_DIR/sdk/bin/*/packages/
deploy:
  provider: releases
  api_key:
    secure: aIv0YwBtaiRLm/kOBVO2zomCUFsEBUkbeK5yxnP2SMEi+mNyTPdavkj3yFb9FLR4f5kCGN7SQJWSTBCgnYCbfeIHahwN7MpVvd7DlatOtv0OwC8qzHxuyKRGHV2fqcb4YmROghty0VuwHq+S4yGEHcdfMzfRjlXyh/mWkwbHg/rfgkDsIg8Om/LE+MOwxAHLwYC4vMi42+d2dRL+fzhUGbyd1nPPNw6FjsNoTOb5jdhZVlnl+NNbbx2/7gJ64ymNYU0ddFPwSiME8/lABAnUcJrQ0CGq4qKHYvaFwithkif0pK2kfSPaXeUJZohyAze7pXlAI00DPWjdVbp4DWsBJ8arqEwSrvsCUT9e8usj1lztDfVhF4U5+0H4jMSF7zkxFvBGKDuypcyJsisU9LZfN14aAykhj/v3zuCPTJ/jH4NeG0rRbbx9g7oHuj0nM052ndsRFhd+knw0ShDtma2B0FPxGxfJZH06iEJcKSAqBjAyDWPX9vcDzorCH/td0U4RJ27gBXWwuBrQN3E+opLRnkhYHMvT2aTfWCLVB3G3CGvwQVus+Y7UcSRDUOtpC5IsqZZ+L/E1KXR9kKOynq5rsnbDX/nzPW4pxgyMi2qlJcl+plbdXJuaa9DgaFRUMXus/terPg/rqxVeSyDk5jJtaUOeLk5XIxRzCHvIKLfa7qs=
  skip_cleanup: true
  file_glob: true
  file: "$TRAVIS_BUILD_DIR/sdk/bin/*/packages/eiskaltdcpp_*.ipk"
  on:
    tags: true
    all_branches: true
